.DS_Store
.ipynb_checkpoints
.vscode/
__pycache__/
venv/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
*.db
*.sqlite
*.sqlite3-journal
*.env
*.egg-info/
*.egg
dist/
build/
*.tar.gz
*.whl
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
migrations/
celerybeat-schedule
instance/
charge.md
predictions.*
model_performance.*